@import "utils";
@import "fonts";

@import "page.scss";
@import "header";
@import "button";
@import "about";
@import "form";

html {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: inherit;
  vertical-align: baseline;
}

body {
  background: $c-gray;
}
